/*=========== GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap');
/*=========== VARIABLES CSS ==========*/
:root{
    /*===== Base =====*/
    --header-height:3rem;
    --font-semi:600;
    --font-bold:700;
    /*==== Couleurs =====*/
    --firt-color:#E55947;
    --second-color:#D2321E;
    --third-color:#F0F1F3;
    --white-color:#FAFAFF;
    --white-color-light:#FAFFFF;
    --dark-color:#101010;
    --dark-color-light:#606060;
    /*==== Fonts et Typographie ====*/
    --body-font:'Edu SA Beginner', cursive;
    --big-font-size:3rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:0.938rem;
    --normal-font-size:0.753rem;
    --small-font-size:0.581rem;
    /*==== Z-Index ======*/
    --z-tooltip:10;
    --z-index:100;
    /*===== Marges ======*/
    --mb-1:0.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    --mb-4:2rem;
}
/*======= Pour Grand Ecran ========*/
@media screen and (min-width:784px) {
    :root{
    --big-font-size:6rem;
    --h1-font-size:2.5rem;
    --h2-font-size:2.25rem;
    --h3-font-size:1.5rem;
    --normal-font-size:1rem;
    --small-font-size:0.758rem; 
 }  
}
/*======== BASE =========*/
*,::before,::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    margin:  var(--header-height) 0 0 0;
    font-family: var(--body-font );
    font-size: var(--normal-font-size);
    line-height: 1.6rem;
  
  }
  h1 h2 h3 h4 p{
    font-weight: var(--font-semi);
    margin: 0;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  img{
    width: 100%;
    height: auto;
  }
/*======== Section =========*/
 .section{
  padding: 3rem 0;
 }
 .section_title{
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0 var(--mb-1);
  text-align: center;
 }
 .section_all{
  display: block;
  font-size:large;
  font-weight: var(--font-semi);
  color:var(--dark-color-light) ;
  text-align: center;
  margin-bottom:var(--mb-2) ;
 }
/*======== Disposition =========*/
 .bd-grid{
  min-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
 }
/*======== HEADER =======*/
  header{
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index);
    background-color: var(--third-color);
  }
  /*======= NAV =========*/
  .nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
@media screen and (max-width:768px) {
  .nav_menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: var(--white-color);
    transition: .5s;
  }
}
  .nav_item{
   margin-bottom: var(--mb-4);
  }
  .nav_links{
    color: var(--dark-color);
    font-size: large;
    font-weight: var(--font-semi);
  }
  .nav_links:hover{
    color: var(--firt-color);
  }
  .nav_logo{
    font-size: large;
    font-weight: var(--font-bold);
  }
  .nav_cart{
    font-size: 1.8rem;
    margin-right: var(--mb-2);
    margin-top: var(--mb-2);
  }
  .nav_toggle{
    font-size: 2.3rem;
    font-weight: var(--font-semi);
    cursor: pointer;
  }
  .nav_close{
    font-size: 1.5rem;
    cursor: pointer;
  }
  .nav_close:hover{
    transform: translateX(0.25rem);
    color: var(--dark-color-light);
  }
/*========== HOME ========*/
.home{
  margin: 0;
  padding: 0;
  background-color: var(--third-color);
}
.home_contenair{
  height: calc(100vh - var(--header-height) );
}
.home_data{
  padding-top: 6rem;
}
.home_title{
  align-self: center;
  font-size: var(--big-font-size);
  line-height:1;
  letter-spacing: .5rem;
  margin-bottom: 4rem;
}
.home_title span{
  font-size: var(--h1-font-size);
}
.home_img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200x;
  height:400px;
}  
/*========COLLECTIONS ========*/
.collection_img{
  width: 250px;
  height:260px;
}
/*====== Boutons =======*/
  .button{
    display: inline-block;
    background-color: var(--second-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    transition: .3s;
  }
  .button:hover{
    background-color: var(--firt-color);
  }
/*======= COLLECTION =======*/
  .collection_contenair{
    row-gap: 2rem;
  }
  .collection_box{
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
    background-color: var(--third-color);
    transition: .3s;
  }
  .collection_box:hover{
    transform: translateY(-.5rem);
  }
  .collection_title{
    font-size:var(--h1-font-size);
    line-height: 1.2;
    margin-bottom: var(--mb-2);
    text-transform: uppercase;
    font-weight: var(--font-semi);
  }
  .collection_subtitle{
    font-size: var(--h2-font-size);
    color: var(--dark-color-light);
  }
  .collection_view{
    font-size: var(--h3-font-size);
    color: var(--dark-color-light);
  }
  .collection_view:hover{
    text-decoration:underline;
  }
/*========== TENDANCE =========*/
  .tendance_contenair{
    row-gap: 2rem;
  }
  .produit_tendance{
    transition: .3s;
    width: min-content;
    margin-top: 1.2rem;
  }
  .produit_tendance:hover{
    transform: translateX(-.5rem);
  }
  .tendance_box{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--third-color);
  }
  .nouveau_tendance{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--firt-color);
    color: var(--white-color);
    padding: .3rem .75rem;
    margin-bottom: 2.5rem;
    font-size: var(--small-font-size);
  }
  .tendance_data{
    text-align: center;
  }
  .tendance_name{
    margin-bottom: var(--mb-1);
    text-transform: uppercase;
    font-size: var(--normal-font-size);
  }
  .tendance_price{
    color: var(--dark-color-light);
    font-weight: var(--font-semi);
  }
  .teendance_img{
    width:240px ;
  }
/*====== Montrer Menu =========*/
  .show{
    right: 0;
  }
/*====== Activer le lien ========*/
  .acive{
    color: var(--firt-color);
  }