/*=========== GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap');
/*=========== VARIABLES CSS ==========*/
:root{
    /*===== Base =====*/
    --header-height:3rem;
    --font-semi:600;
    --font-bold:700;
    /*==== Couleurs =====*/
    --firt-color:#E55947;
    --second-color:#D2321E;
    --third-color:#F0F1F3;
    --white-color:#FAFAFF;
    --white-color-light:#FAFFFF;
    --dark-color:#101010;
    --dark-color-light:#606060;
    /*==== Fonts et Typographie ====*/
    --body-font:'Edu SA Beginner', cursive;
    --big-font-size:3rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:0.938rem;
    --normal-font-size:0.753rem;
    --small-font-size:0.581rem;
    /*==== Z-Index ======*/
    --z-tooltip:10;
    --z-index:100;
    /*===== Marges ======*/
    --mb-1:0.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    --mb-4:2rem;
}
/*======= Pour Grand Ecran ========*/
@media screen and (min-width:784px) {
    :root{
    --big-font-size:6rem;
    --h1-font-size:2.5rem;
    --h2-font-size:2.25rem;
    --h3-font-size:1.5rem;
    --normal-font-size:1rem;
    --small-font-size:0.758rem; 
 }  
}
/*======== BASE =========*/
*,::before,::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    margin:  var(--header-height) 0 0 0;
    font-family: var(--body-font );
    font-size: var(--normal-font-size);
    line-height: 1.6rem;
  
  }
  h1 h2 h3 h4 p{
    font-weight: var(--font-semi);
    margin: 0;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  img{
    width: 100%;
    height: auto;
  }
/*======== Section =========*/
 .section{
  padding: 3rem 0;
 }
 .section_title{
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0 var(--mb-1);
  text-align: center;
 }
 .section_all{
  display: block;
  font-size:large;
  font-weight: var(--font-semi);
  color:var(--dark-color-light) ;
  text-align: center;
  margin-bottom:var(--mb-2) ;
 }
/*======== Disposition =========*/
 .bd-grid{
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
 }
/*======== HEADER =======*/
  header{
    width:100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index);
    background-color: var(--third-color);
  }
  /*======= NAV =========*/
  .nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
@media screen and (max-width:768px) {
  .nav_menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: var(--white-color);
    transition: .5s;
  }
}
  .nav_item{
   margin-bottom: var(--mb-4);
  }
  .nav_links{
    color: var(--dark-color);
    font-size: large;
    font-weight: var(--font-semi);
  }
  .nav_links:hover{
    color: var(--firt-color);
  }
  .nav_logo{
    font-size: large;
    font-weight: var(--font-bold);
    color: green;
  }
  .nav_cart{
    font-size: 1.8rem;
    margin-right: var(--mb-2);
    margin-top: var(--mb-2);
    cursor: pointer;
  }
  .nav_cart:hover{
    color: gray ;
  }
  .nav_toggle{
    font-size: 2.3rem;
    font-weight: var(--font-semi);
    cursor: pointer;
  }
  .nav_close{
    font-size: 1.5rem;
    cursor: pointer;
  }
  .nav_close:hover{
    transform: translateX(0.25rem);
    color: var(--dark-color-light);
  }
/*========== HOME ========*/
.home{
  margin: 0;
  padding: 0;
  background-color: var(--third-color);
}
.home_contenair{
  height: calc(100vh - var(--header-height) );

}
.home_data{
  padding-top: 3rem;
}
.home_title{
  align-self: center;
  font-size: var(--big-font-size);
  line-height:1;
  letter-spacing: .5rem;
  margin-bottom: 4rem;
}
.home_title span{
  font-size: var(--h1-font-size);
}
.home_img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height:auto;
}  
/*========COLLECTIONS ========*/
.collection_img{
  width: 250px;
  height:260px;
}
/*====== Boutons =======*/
  .button{
    display: inline-block;
    background-color: var(--second-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    transition: .3s;
  }
  .button:hover{
    background-color: var(--firt-color);
  }
/*======= COLLECTION =======*/
  .collection_contenair{
    row-gap: 2rem;
  }
  .collection_box{
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
    background-color: var(--third-color);
    transition: .3s;
  }
  .collection_box:hover{
    transform: translateY(-.5rem);
  }
  .collection_title{
    font-size:var(--h1-font-size);
    line-height: 1.2;
    margin-bottom: var(--mb-2);
    text-transform: uppercase;
    font-weight: var(--font-semi);
  }
  .collection_subtitle{
    font-size: var(--h2-font-size);
    color: var(--dark-color-light);
  }
  .collection_view{
    font-size: var(--h3-font-size);
    color: var(--dark-color-light);
  }
  .collection_view:hover{
    text-decoration:underline;
  }
/*========== TENDANCE =========*/
  .tendance_contenair{
    row-gap: 2rem;
  }
  .produit_tendance{
    transition: .3s;
    width: min-content;
    margin-top: 1.2rem;
  }
  .produit_tendance:hover{
    transform: translateY(-.5rem);
  }
  .tendance_box{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--third-color);
  }
  .nouveau_tendance{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--firt-color);
    color: var(--white-color);
    padding: .3rem .75rem;
    margin-bottom: 2.5rem;
    font-size: var(--small-font-size);
  }
  .tendance_data{
    text-align: center;
  }
  .tendance_name{
    margin-bottom: var(--mb-1);
    text-transform: uppercase;
    font-size: var(--normal-font-size);
  }
  .tendance_price{
    color: var(--dark-color-light);
    font-weight: var(--font-semi);
  }
  .teendance_img{
    width:240px ;
  }
/*=========== OFFER ===========*/
  .offer_bg{
    background: url('/Assets/Img/offer_img.png') no-repeat center/cover ;
  }
  .offer_data{
    padding: 3.5rem 0.25rem;
    background: rgba(0, 0, 0, 0.5);
    color: var(--white-color);
  }
  .offer_title{
    font-size: var(--h1-font-size);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: var(--font-semi);
  }
  .offer_description{
    margin-bottom: var(--mb-2);
    letter-spacing: 0.2rem;
  }
/*========== NOUVEL ARRIVAGE =========*/
 .new_contenair{
  row-gap: 2rem;
 }  
 .new_box{
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--third-color);
  overflow: hidden;
  width: min-content;
 }
 .new_link{
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(223, 86, 71, 0.2);
  transition: 0.3s;
 }
 .new_box:hover .new_link{
  bottom: 0;
 }
 .new_img{
  width: 260px;
 }
/*====== NEWSLETTER ===========*/
 .newsletter{
  text-align: center;
 } 
 .newsletter_description{
  margin-bottom: var(--mb-2);
  font-size: var(--small-font-size);
  color: var(--dark-color-light);
 }
 .newsletter_suscribe{
  width: min-content;
  margin-left: 2.3rem;
 }
 .newsletter_form{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
 }
 .newsletter_input{
  outline: none;
  border: none;
  height:25px;
  margin-bottom: var(--mb-2);
  background-color: var(--third-color);
  padding: 0 1rem;
 }
/*========= SPONSORS ========*/
 .sponsors_contenair{
  grid-template-columns: repeat(2,1fr);
  row-gap: 2rem;
  padding: 1.5rem 0;
 }
 .sponsors_logo{
  width: min-content;
 }
 .sponsors_logo img{
  width: 300px;
  filter: opacity(70%);
 }
 .sponsors_logo img:hover{
  filter:none ;
 }
/*=========== FOOTER ==========*/
  .footer{
    background-color: var(--dark-color);
    color: var(--white-color);
  }
  .footer_contenair{
    row-gap: 1.5rem;
    margin-bottom: var(--mb-4);
  }
  .footer_img_link{
    width: min-content;
  }
  .footer_img{
    width: 200px;
  }
  .footer_title{
    margin-bottom: var(--mb-1);
  }
  .footer_deal{
    margin-bottom: var(--mb-1);
  }
  .footer_store{
   width: 100%;
  }
  .footer_link , .footer_social{
    color: var(--dark-color-light);
  }
  .footer_link:hover{
    text-decoration: underline;
  }
  .footer_copy{
    border-top: 1px solid var(--dark-color);
    padding-top: 3rem;
    text-align: 3rem;
    text-align: center;
    color: var(--dark-color-light);
    font-size:var(--small-font-size) ;
  }
  .footer_links{
    color: var(--third-color);
  }
  .footer_links:hover{
   text-decoration: underline;
  }
  .footer_social{
    font-size: 28px;
  }
  .footer_social:hover{
    color: var(--white-color);
  }

/*====== Montrer Menu =========*/
  .show{
    right: 0;
  }
/*====== Activer le lien ========*/
  .acive{
    color: var(--firt-color);
  }
/*======= MEDIA QUERIES ======*/
 @media screen and (min-width:768px) {
  body{
    margin: 0;
  }
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .header{
   height: 5rem;
  }
  .section_all{
    margin-bottom: var(--mb-4);
  }
  .nav{
    height: calc( var(--header-height) + 1rem);
    justify-content: initial;
  }
  .nav_logo{
    font-size: 35px;
    color: green;
    margin-left: 3rem;
  }
  .nav_links{
    font-size: 27px;
  }
  .nav_menu{
    margin-left: auto;
    margin-right: 2rem;
  }
  .nav_list{
    display: flex;
    justify-content: space-around;
  }
  .nav_item{
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }
  .nav_toggle, 
  .nav_close{
    display: none;
  }
  .main{
    margin-top: 4rem;
  }
  .home_contenair{
    height: 100vh;
  }
  .home_data{
    padding: 0;
    height: max-content;
    align-self: center;
  }
  .home_title{
    margin-top: 2rem;
    margin-left: 5rem;
    line-height: 0.8;
    letter-spacing: 1.5rem;;
  }
  .home_button{
    margin-left: 5rem;
  }
  .home_img{
    width: 350px;
  }
  .collection_contenair{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
  }
  .collection_box{
    padding: .5rem 3rem 0;

  }
  .collection_img{
    width: 250px;
  }
  .tendance_contenair{
    grid-template-columns: repeat(4,1fr);
  }
  .offer_title{
    margin-bottom: var(--mb-1);
  }
  .offer_title,
  .offer_description,
  .offer_button{
    margin-left: 15rem;
  }
  .offer_data{
    padding: 5rem 0;
  }
  .new_contenair{
    grid-template-columns: repeat(3,1fr);
  }
  .newsletter_suscribe{
    margin-left: 34rem;
  }
  .newsletter_form{
    width: 400px;
    margin: 0 auto;
  }
  .newsletter_input{
    margin-left: 7rem;
  }
  .sponsors_logo{
     margin-left: 32rem;
  }
  .sponsors_logo img{
    width: 450px;
  }
  .footer_contenair{
    padding: 2rem 0;
    display: flex;
  }
  .footer_title{
    font-size: 25px;
  }
  .footer_links{
    color: var(--third-color);
  }
  .footer_links:hover{
   text-decoration: underline;
  }
  .footer_social{
    font-size: 28px;
  }
  .footer_social:hover{
    color: var(--white-color);
  }
 }  
